<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Water Footprint Calculator</h1>
        <input type="text" id="productInput" placeholder="Enter product name (potato, rice, mustard)" />
        <button id="fetchData">Get Water Footprint</button>
        
        <h2>OR</h2>
        
        <input type="file" id="imageUpload" accept="image/*" />
        <button id="uploadImage">Upload and Recognize</button>

        <p id="result"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
